<!-- <p>add-recipe works!</p>
<label>NgModel input</label>
<input type="text" [(ngModel)]="binding" />
{{ binding }} -->


<div class="container">
<form [formGroup]="addRecipeForm" 
  (ngSubmit)="onSubmit()" 
  class="form-container">

<mat-form-field appearance="fill" >
  <mat-label>Name</mat-label>
  <input matInput type="text" formControlName="name" >
</mat-form-field>
  
<mat-form-field appearance="fill" >
  <mat-label>Image URL</mat-label>
  <input matInput type="text" formControlName="image" >
</mat-form-field>
  
<mat-form-field appearance="fill" >
  <mat-label>Difficulty</mat-label>
  <input matInput type="text" formControlName="difficulty" >
</mat-form-field>
  
<mat-form-field appearance="fill" >
  <mat-label>Preparation time</mat-label>
  <input matInput type="number" formControlName="prepTimeMinutes" >
</mat-form-field>
  

<!-- <label>Name</label>
<input type="text" formControlName="name"/>

<label>Image URL</label>
<input type="text" formControlName="image"/>

<label>Difficulty</label>
<input type="text" formControlName="difficulty"/>

<label>Preparation time</label>
<input type="number" formControlName="prepTimeMinutes" /> -->


<button mat-raised-button color="primary" type="submit" [disabled]="addRecipeForm.invalid">Submit</button>

<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->

</form>
</div>


<div class="back">
<button mat-raised-button color="primary" type="button" (click)="goToRecipes()" class="back-button">
    ← Back to Recipes
</button>
</div>


<!-- {{localStorageValue}} -->