<!-- <div class="card-container" [ngStyle]="{
    backgroundColor: recipe.prepTimeMinutes >=20 ? '#3D405B':'#81B29A',
}"
[ngClass]="{colorWhite : recipe.difficulty === 'Easy'}">

 <div>{{recipe.name | uppercase}}</div>
 <img [src]="recipe.image" alt="recipe-image"/>
 <div><b>Preparation time :</b> {{recipe.prepTimeMinutes}} </div>
 <div>Difficulty: {{recipe.difficulty}}</div>
 <button (click)="goToRecipePage()" class="tell">Tell me more</button>
</div> -->


<!--  -->
<div class="cards-wrapperr">
<mat-card  [ngStyle]="{
    backgroundColor: recipe.prepTimeMinutes >=20 ? '#3D405B':'#81B29A',
    }"
    [ngClass]="{colorWhite : recipe.difficulty === 'Easy'}" appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{recipe.name | uppercase}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="recipe.image" alt="recipe-image">
    <mat-card-content>
     <p>
        <b>Preparation time :</b> {{recipe.prepTimeMinutes}} minutes
      </p>
      <p>
        <b>Difficulty:</b> {{recipe.difficulty}}
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="goToRecipePage()" class="tell">Tell me more</button>
    </mat-card-actions>
  </mat-card>
</div>