.card-container{
    display:flex;
    gap:2rem;
    flex-wrap:wrap;

}

.search-container{
    display: flex;
    margin: 3rem;
    justify-content: space-between;

    input{
        padding: 1rem;
    }
}