html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F4F1DE; 
    font-family: "Cal Sans", sans-serif;
  }

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    background-color: #F4F1DE;
    padding-bottom: 2rem;
  }

.card-container{
    display:flex;
    gap:2rem;
    flex-wrap:wrap;
    justify-content: center; 
    margin: 1rem auto; 
}

.search-container{
    display: flex;
    margin: 3rem;
    //justify-content: space-between;
    width: 100%;
    max-width: 600px; 
    align-items: flex-start;
    gap: 2rem;

    input{
        padding: 1rem;
        font-size: 1rem;
        border-radius: 6px;
        border: 1px solid #ccc;
        outline: none;
    }
}

.add-button{
    background-color: #e07a5f;
    color: black;
    padding: 1rem 2rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    margin-right: 3rem;
    margin-left: 3rem;
    
}

.add-button:hover{
    background-color: #e89078;
}

h1{
    text-align: center;
    margin-bottom: 5rem;
    text-decoration: underline;
}
