<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cal+Sans&family=Tagesschrift&display=swap" rel="stylesheet">

<div class="card">
    <div class="card-header">
        <h2>Ingredients</h2>
    </div>
    <div class="card-body">
        <ul>
            <li>1 cup flour</li>
            <li>2 eggs</li>
            <li>1/2 cup milk</li>
            <li>1 teaspoon baking powder</li>
            <li>A pinch of salt</li>
            <li>1/2 cup sugar</li>
        </ul>
    </div>
</div>

<button class="btn-primary" (click)="goBack()">Back to recipes</button>
